# Use a pre-built Flutter image to save time
image: ghcr.io/cirruslabs/flutter:3.22.0

stages:
  - build

build_android_release:
  stage: build
  before_script:
    # Accept Android licenses automatically
    - yes | sdkmanager --licenses
    - flutter doctor
    - flutter pub get
  script:
    # Build the Release APK
    - flutter build apk --release
  artifacts:
    name: "flutter-release-apk"
    paths:
      # This is the standard path where Flutter outputs the release APK
      - build/app/outputs/flutter-apk/app-release.apk
    expire_in: 14 days
  only:
    - dev